[submodule "institution_2023_angular"]
	path = institution_2023_angular
	url = https://github.com/mounitbhandari/institution_2023_angular.git
[submodule "institution_2023_api"]
	path = institution_2023_api
	url = https://github.com/mounitbhandari/institution_2023_api.git
[submodule "production_service"]
	path = production_service
	url = https://github.com/ngsutradhar/production_service.git
